.aa{
    color: black; background-color: red;
}
.ab{
    color: white;background-color: orange;
}
.ac{
    color: grey;background-color: yellowgreen;
}
.ad{
    color: black;background-color: yellow;
}