body{
    background-image: url(/Images/buddha\ image.jpg);
    background-repeat: no-repeat;
}
.aaa{
    text-align: center;
    color: black;
    background-color: red;
 }
 .ab{
     height: 500px;
     width: 400px;
     background-color: aqua;
     border: 10px ridge black;
     margin-left: 700px;
     padding-left: 20px;
}
.ac2{
    
    
}
.ac3{
    padding-left: 40px;
}
