*{
    margin: 0px;
    padding: 0px;
}
.main{
    height: 2000px;
    width: 1000px;
    background-color: bisque;
    margin: auto;
}
.header{
    height: 200px;
    width: 1000px;
    background-color: aqua;
}
.logo{
    height: 200px;
    width: 300px;
    background-color: darkcyan;
    float: left;
}
.img1{
    height: 200px;
    width: 300px;
}
.social{
    height: 100px;
    width: 700px;
    background-color: bisque;
    float: left;
    font-size: 40px;
    text-align: right;
}
.social h3 {
    margin-top: 30px;
    margin-right: 20px;
    
}
.navbar{
    height: 100px;
    width: 700px;
    background-color: darkgray;
    float: left;
    text-align: center;
    
}
.navbar ul li {
    float: left;
    display: block;
    width: 100px; 
    background-color: aquamarine;
    height: 50px;
    margin: 5px;
    text-align: center;
    line-height: 50px;
    border-radius: 20px;
   
}

ul {
    margin-left: 140px;
    margin-top: 25px;
    
}

.container{
    height: 1750px;
    width: 1000px;
    background-color: greenyellow;
}
.fixed{
    height: 200px;
    width: 280px;
    background-color: greenyellow;
    margin-left: 20px;
    margin-top: 5px;
    position: fixed;
}
button {
    margin:10px;
    padding: 5px;
    
}

.carasoul{
    height: 300px;
    width: 700px;
    background-color: yellow;
    float: right;
}
.gallary{
    height: 1450px;
    width: 700px;
    background-color: cornflowerblue; 
    float: right;   
}
.gallary h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    }
.product{
    height: 200px;
    width: 200px;
    background-color: yellowgreen;
    float: right;
    margin-left: 15px;
    margin-top: 15px;
}
.product img {
    margin-top: 10px;
   margin-left: 10px;
}
.footer{
    height: 50px;
    width: 1000px;
    background-color: brown;
}
.footer h2{
    text-align: center;
}