*{
    margin: 0px;
    padding: 0px;
}
main{
    height: 500px;
    width: 1000px;
    background-color: aqua;
    margin-top: 100px;
    margin-left: 200px;
    border: 2px solid black;
    
}
h3,h4{
    position: relative;
    top: 180px;
    left: 600px;
 }
table{
    position: relative;
    left: 600px;
    top: 200px;
    text-align: center;
    font-size: larger;
}
 