*{
    margin: 0px;
    padding: 0px;
}
.main{
    height: 500px;
    width: 1000px;
    background-color: bisque;
    margin: auto;
    text-align: center;
}
a{
    position: relative;
    top: 100px;
}